.btn-primary:hover {
    transition: all 0.3s ease-out;
    background-color: $darkBlue-hover;
    transition: 250ms;
  }
  
  .btn-primary {
    padding: 8px 20px;
    background: $darkBlue;
    color: $white;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 180px;
    border-radius: 8px;
 }
   